.login {
  background-image: url("../../../assets/imageBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login {
  width: 20rem !important;
}

.regis {
  text-decoration: none;
  font-weight: 500;
  color: var(--green);
}
