.informasi {
  margin: 0%;
  background-image: url("../../../assets/imageBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.informasi .header-box h3 {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.informasi .header-box h3 span {
  color: var(--green);
  font-weight: 700;
}

.informasi .header-box p {
  line-height: 2;
  font-weight: 500;
}

.btn-wa {
  margin-top: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: chocolate;
  text-decoration: none;
  color: white;
}

.informasi-custom-scrollbar {
  position: relative;
  width: fit-content;
  height: 34rem;
  overflow: hidden;
}

.informasi-wrapper-scroll-y {
  display: block;
  overflow: auto;
}

@media (max-width: 798px) {
  .informasi .header-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: -2rem;
  }

  .informasi .header-box h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .informasi .header-box p {
    line-height: 1.5;
    font-weight: 400;
  }

  .informasi-custom-scrollbar {
    position: relative;
    width: fit-content;
    height: 30.6rem;
    overflow: hidden;
  }

  .informasi-wrapper-scroll-y {
    display: block;
    overflow: auto;
  }
}
