img {
  width: 40px !important;
  height: 40px !important;
}

.btn1 {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-top: 5px !important;
  color: white !important;
  background-color: var(--green);
  border: none;
  margin-left: 1rem;
}

.btn1:hover {
  background-color: var(--green);
  border: none;
}

.nav-link:hover {
  transition: all 0, 2ms ease-in-out;
  color: var(--green) !important;
  transform: scale(1.1);
}
.span1 {
  color: var(--gray);
  margin-right: 5px;
}

.span2 {
  color: var(--green);
}

.judul {
  gap: 1rem;
}

@media (max-width: 798px) {
  .btn1 {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 7px !important;
    padding-top: 5px !important;
    color: white !important;
    background-color: var(--green);
    border: none;
    margin-left: 0px;
  }

  .judul {
    gap: 0;
    padding: -2px !important;
  }
  
}
