.about {
  margin: 0%;
  background-image: url("../../../assets/imageBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.about .header-box h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

.about .header-box h1 span {
  color: var(--green);
  font-weight: 700;
}

.about .header-box p {
  text-align: justify;
  line-height: 2;
  font-weight: 500;
  margin-right: 50%;
}

.about .header-box img {
  margin-left: 1rem !important;
  width: 100% !important;
  height: 100% !important;
}

.btn-wa {
  margin-top: 1rem;
  margin-right: 55%;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--green);
  text-decoration: none;
  color: white;
}

.iconButton {
  margin-right: 50%;
}

@media (max-width: 798px) {
  .about .header-box h1 {
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 600;
  }

  .about .header-box p {
    line-height: 2rem;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0%;
  }

  .btn-wa {
    margin-top: 1rem;
    margin-right: 0%;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--green);
    text-decoration: none;
    color: white;
  }

  .iconButton {
    margin-right: 0%;
  }

}
