.Home {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  background-image: url("../../../assets/imageBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.Home .header-box h1 {
  font-size: 3rem;
  font-weight: 600;
}

.Home .header-box h1 span {
  color: var(--green);
  font-weight: 700;
}

.Home .header-box p {
  line-height: 1.4;
  font-weight: 500;
}

.Home .header-box img {
  width: 100% !important;
  height: 100% !important;
}

.btn-color-home {
  background: var(--green) !important;
  color: white !important;
}

.headers {
  padding-top: 6rem;
}

@media (max-width: 798px) {
  .Home .header-box h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin:15px  10px ;
  }


  .Home .header-box p {
    margin: 10px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 12px;
  }
  
}
