:root {
  margin: 0;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
  --pink: rgb(241, 129, 148);
  --orange: rgb(248, 212, 154);
  --pinki: linear-gradient(180deg, #ff919d 0%, #fc929d 100%);
  --ungu: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --green: #01924f;
  --gray: #012732;
  --abuabu: #e7e7e7;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 0%;
  background: white;
  height: 100vh;
}

.AppMain {
  margin: 0%;
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppGlass {
  display: grid;
  height: 99%;
  width: 99%;
  border-radius: 2rem;
  background-color: var(--abuabu);
  overflow: hidden;
  grid-template-columns: 15rem auto;
}

.AppGlass1 {
  display: grid;
  height: 99%;
  width: 99%;
}
